doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Old Instagram Pictures
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
        margin 0
        font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      header, footer
        margin 0 auto
        max-width 600px
        text-align center
      a
        text-decoration none
        &:hover
          text-decoration underline
      footer
        padding-top 0.5em
        small
          color #999
          a
            color #888
      img
        width 100%
        height auto
        display block
        object-fit cover
      .image-group
        margin auto
        margin-top -40px
        max-width 1000px
        display grid
        grid-template-columns repeat(8, 1fr)
        grid-auto-rows 200px
        grid-gap 9px
        padding-bottom 50px
        &:first-child
          margin-top 0
      .hex
        display flex
        position relative
        width 240px
        height 265px
        -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
        clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)

        &:first-child
          grid-row-start 1
          grid-column 2 / span 2
        &:nth-child(2)
          grid-row-start 1
          grid-column 4 / span 2
        &:nth-child(3)
          grid-row-start 1
          grid-column 6 / span 2
        &:nth-child(4)
          grid-row-start 2
          grid-column 1 / span 2
        &:nth-child(5)
          grid-row-start 2
          grid-column 3 / span 2
        &:nth-child(6)
          grid-row-start 2
          grid-column 5 / span 2
        &:nth-child(7)
          grid-row-start 2
          grid-column 7 / span 2

      @media (min-width: 1800px)
        .images
          padding-top 50px
        .image-group
          padding-left 100px
          max-width 1000px * 1.3
          grid-auto-rows 200px * 1.3

      @media (max-width: 1000px)
        .image-group
          max-width 1000px * 0.6
          grid-auto-rows 118px
        .hex
          width 240px * 0.6
          height 265px * 0.6

      @media (max-width: 600px)
        .image-group
          max-width 1000px * 0.4
          grid-auto-rows 76px
        .hex
          width 240px * 0.4
          height 265px * 0.4

      @media (max-width: 400px)
        .image-group
          max-width 1000px * 0.3
          grid-auto-rows 58px
        .hex
          width 240px * 0.3
          height 265px * 0.3

  body
    header: :markdown-it
      # [Old Instagram Pictures](/)

      These are the images from [my old instagram account][paulnechifor]. It was
      deleted for inactivity. My current account is
      [paulrnechifor][paulrnechifor].

      [paulnechifor]: https://www.instagram.com/paulnechifor/
      [paulrnechifor]: https://www.instagram.com/paulrnechifor/

    .images
      each images in imageGroups
        .image-group
          each image, i in images
            a.hex(href="images/" + image + ".jpg")
              img(
                alt="Old Instagram Image " + (i + 1)
                src="images/" + image + ".thumb.jpg"
                loading=i < 12 ? null : "lazy"
              )

    footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://gitlab.com/paul-nechifor/old-instagram)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects)
